*.pyc
*~
out*/
logs*/
log*/
*.png
obs_data/*.csv
model/*.ini
model/Nov-2016-11-labds/
model/Nov-2016-12-labds/
model/Nov-2016-13-labds/
model/Nov-2016-4-labds/
model/Nov-2016-6-labds/
model/Nov-2016-7-labds/
model/Nov-2016-8-labds/
model/Ris-2017-10-labds/
model/Ris-2017-11-labds/
model/Ris-2017-13-labds/
model/Ris-2017-14-labds/
model/Ris-2017-16-labds/
model/Ris-2017-4-labds/
model/Ris-2017-5-labds/
model/Ris-2017-7-labds/
model/Tre-2010-10-labds/
model/Tre-2010-11-labds/
model/Tre-2010-12-labds/
model/Tre-2010-13-labds/
model/Tre-2010-14-labds/
model/Tre-2010-15-labds/
model/Tre-2010-16-labds/
model/Tre-2010-17-labds/
model/Tre-2010-18-labds/
model/Tre-2010-2-labds/
model/Tre-2010-20-labds/
model/Tre-2010-23-labds/
model/Tre-2010-24-labds/
model/Tre-2010-25-labds/
model/Tre-2010-26-labds/
model/Tre-2010-27-labds/
model/Tre-2010-3-labds/
model/Tre-2010-4-labds/
model/Tre-2010-5-labds/
model/Tre-2010-7-labds/
model/Tre-2010-8-labds/
model/Tre-2011-14-labds/
model/Tre-2011-23-labds/
model/Tre-2011-3-labds/
model/Tre-2011-6-labds/
model/Tre-2011-7-labds/
model/Tre-2014-1-labds/
model/Tre-2014-14-labds/
model/Tre-2014-16-labds/
model/Tre-2014-17-labds/
model/Tre-2014-18-labds/
model/Tre-2014-19-labds/
model/Tre-2014-24-labds/
model/Tre-2014-25-labds/
model/Tre-2014-2a-labds/
model/Tre-2014-2b-labds/
model/Tre-2014-2d-labds/
model/Tre-2014-3-labds/
model/Tre-2014-4-labds/
model/Tre-2014-5-labds/
model/Tre-2014-6-labds/
model/Tre-2014-7-labds/
model/Tre-2014-8-labds/
model/Tre-2014-9-labds/
model/Vse-2014-10-labds/
model/Vse-2014-11-labds/
model/Vse-2014-14-labds/
model/Vse-2014-16-labds/
model/Vse-2014-3-labds/
model/Vse-2014-4-labds/
model/Vse-2014-5-labds/
model/Vse-2014-6-labds/
model/Vse-2014-9-labds/
model/byk-fieldds/
model/byk-fieldds_vegetace/
model/indata/rainfall.txt
model/nuc-2011-11-labds/
model/nuc-2011-12-labds/
model/nuc-2011-13-labds/
model/nuc-2011-14-labds/
model/nuc-2011-15-labds/
model/nuc-2011-18-labds/
model/nuc-2011-19-labds/
model/nuc-2011-20-labds/
model/nuc-2011-21-labds/
model/nuc-2011-22-labds/
model/nuc-2011-24-labds/
model/nuc-2011-25-labds/
model/nuc-2011-27-labds/
model/nuc-2011-3-labds/
model/tre-2008-1-labds/
model/tre-2008-11-labds/
model/tre-2008-13-labds/
model/tre-2008-14-labds/
model/tre-2008-17-labds/
model/tre-2008-18-labds/
model/tre-2008-19-labds/
model/tre-2008-2-labds/
model/tre-2008-20-labds/
model/tre-2008-21-labds/
model/tre-2008-22-labds/
model/tre-2008-23-labds/
model/tre-2008-24-labds/
model/tre-2008-25-labds/
model/tre-2008-26-labds/
model/tre-2008-27-labds/
model/tre-2008-3A-labds/
model/tre-2008-3B-labds/
model/tre-2008-4-labds/
model/tre-2008-5-labds/
model/tre-2008-6-labds/
model/tre-2008-7-labds/
model/tre-2008-8-labds/
model/tre-2008-9-labds/
model/vse-2012-1-labds/
model/vse-2012-10-labds/
model/vse-2012-11-labds/
model/vse-2012-12-labds/
model/vse-2012-13-labds/
model/vse-2012-14-labds/
model/vse-2012-15-labds/
model/vse-2012-16-labds/
model/vse-2012-20-labds/
model/vse-2012-21-labds/
model/vse-2012-22-labds/
model/vse-2012-2a-labds/
model/vse-2012-2b-labds/
model/vse-2012-4-labds/
model/vse-2012-7-labds/
model/vse-2012-8-labds/
model/vse-2012-9-labds/

